
<div class="tile is-ancestor">
      <div class="tile is-parent is-vertical is-1">

      </div>
      <div class="tile is-3 is-vertical is-parent">
        <article class="tile is-child yellow_0 is-12">
          <p class="yellow_1">{{user.name}}</p>
          <figure class="image is-1by1 yellow_3">
            <img src="../assets/img/note_yellow.png">
          </figure>
          <div class="tile is-child box player is-3">
              <img src="../assets/img/health.png"><p id="health0">{{user.hp}} / {{user.maxHp}}</p>
              <img src="../assets/img/damage.png"><p id="damage0">{{user.physical}}</p>
              <img src="../assets/img/defense.png"><p id="defense0">{{user.defense}}</p>
          </div>
        </article>
        <div class="tile is-child box yellow_0">
          <progress class="progress is-danger" id="p2_health" value="1000" max="1000"></progress>
          <button class="button is-success ability-box1 ability-button" id="ability0" name="att1" userId ="{{user.id}}" enemyId ="{{enemy.id}}">Note Slash</button>
          <button class="button is-success ability-box2 ability-button" id="ability1" name="att2">Beat Drop</button>
          <button class="button is-success ability-box3 ability-button" id="ability2" name="heal">Resonance</button>
          <button class="button is-success ability-box4 ability-button" id="ability3" name="block">Block</button>
        </div>
      </div>
      <div class="tile is-parent">
        <div class="tile is-child box middle">
          <p class="title">Battlefield</p>
          <p>THIS IS WHERE ALL THE MUSICAL GRAPHIC JAZZ HAPPENS</p>
          <div class="equalizer">
              <span class="column" id="purple"></span>
              <span class="column" id="blue"></span>
              <span class="column" id="cyan"></span>
              <span class="column" id="green"></span>
              <span class="column" id="yellow"></span>
              <span class="column" id="orange"></span>
              <span class="column" id="red"></span>
              <span id="black"></span>
              <br/>
              <input type="button" onclick="JavaScript: play();" value="Play" id=button>
          </div>
        </div>
      </div>
      <div class="tile is-3 is-vertical is-parent">
        <article class="tile is-child green_0 is-12">
          <p class="green_1">enemy.name</p>
          <figure class="image is-1by1 green_3">
            <img src="../assets/img/note_green.png">
          </figure>
          <div class="tile is-child box player is-3">
              <img src="../assets/img/health.png"><p id="health0">{{enemy.hp}} / {{enemy.maxHp}}</p>
              <img src="../assets/img/damage.png"><p id="damage0">{{enemy.physical}}</p>
              <img src="../assets/img/defense.png"><p id="defense0">{{enemy.defense}}</p>
          </div>
        </article>
        <div class="tile is-child box green_0">
          <progress class="progress is-danger" id="p1_health" value="1000" max="1000"></progress>
          <button class="button is-link ability-box1" id="ability0">Quarter Note</button>
          <button class="button is-link ability-box2" id="ability1">Up Tempo</button>
          <button class="button is-link ability-box3" id="ability2">Pitch Perfect</button>
          <button class="button is-link ability-box4" id="ability3">Block</button>
        </div>
      </div>
      <div class="tile is-parent is-vertical is-1">

      </div>
    </div>

{{!-- listeners to send the PUT requests when attack buttons are clicked. I don't know how to serve this dynamically so here you go. --}}
    <script type="text/javascript">
        alert("battle.handlebars loaded script tag");
        $(document).on("click", ".ability-button", function(event) {
          event.preventDefault();

          attackName = this.name;
          var userId = {{user.id}} - 1;
          var enemyId = {{enemy.id}} - 1;

          $.ajax({
            method: "PUT",
            url: "/battle/" + userId + "&" + enemyId + "&" + attackName
          }).then(function(data) {
            location.reload();
          })

      });

    </script>



<!--This is where the battle will take place!!-->

        {{!-- <div class="tile is-ancestor is-12">
          <div class="tile is-parent">
            <div class="tile is-child box player is-3 player-img">
                <div class="tile is-child box player"> --}}
                    {{!-- using the user param from the GET url --}}
                        {{!-- <p class="player">{{user.name}}</p>
                        <p class="hp">{{user.hp}}</p>
                        <p class="maxHp">{{user.maxHp}}</p>
                        <p class="class">{{user.charClass}}</p>
                        <p class="level">{{user.charLevel}}</p> --}}
{{!--
                        <p class="player">{{Char.0.name}}</p>
                        <p class="class">{{Char.0.charClass}}</p>
                        <p class="level">{{Char.0.charLevel}}</p> --}}
                        {{!-- <img src="{{Char.0.imageSRC}}" class="player" > --}}
{{!--
                </div>
                <div class="tile is-parent">
                <div class="tile is-child box player is-4">
                    <img src="./assets/img/health.png"><p id="health0"></p>
                    <img src="./assets/img/damage.png"><p id="damage0"></p>
                    <img src="./assets/img/defense.png"><p id="defense0"></p>
                </div>
              </div>
              <progress class="progress is-danger" id="p1_health" value="1000" max="1000"></progress>
              <button class="button is-success ability-box1" id="ability0">Stab</button>
              <button class="button is-success ability-box2" id="ability1">Precision Strike</button>
              <button class="button is-success ability-box3" id="ability2">Deflect</button>
              <button class="button is-success ability-box4" id="ability3">Block</button>
            </div>
          </div>
        </div>
          <div> --}}
            <!-- <div class="tile is-ancestor">
              <div class="tile is-parent is-vertical">
                  <div class="column is-child">
                    <article class="tile is-child meter">
                      <img src="./assets/img/beat_bar.png"><p class="beat">BEATS</p>
                    </article>
                    <article class="tile is-child meter">
                      <img src="./assets/img/tempo_bar.png"><p class="tempo">TEMPO</p>
                    </article>
                    <article class="tile is-child meter">
                      <img src="./assets/img/frequency_bar.png"><p class="frequency">FREQUENCY</p>
                    </article>
                    <article class="tile is-child meter">
                      <img src="./assets/img/tone_bar.png"><p class="tone">TONE</p>
                    </article>
                    <article class="tile is-child meter">
                      <img src="./assets/img/pitch_bar.png"><p class="pitch">PITCH</p>
                    </article>
                  </div>
                </div>
            </div> -->
          {{!-- </div>
          <div class="tile is-ancestor is-12">
              <div class="tile is-parent">
                <div class="tile is-child box player is-3 enemy-img">
                    <div class="tile is-child box"> --}}
                        {{!-- using the enemy param from the GET url  --}}
                        {{!-- <p class="player">{{enemy.name}}</p>
                        <p class="hp">{{enemy.hp}}</p>
                        <p class="maxHp">{{enemy.maxHp}}</p>
                        <p class="class">{{enemy.charClass}}</p>
                        <p class="level">{{enemy.charLevel}}</p> --}}

                        {{!-- <p class="player">{{Char.1.name}}</p>
                        <p class="class">{{Char.1.charClass}}</p>
                        <p class="level">{{Char.1.charLevel}}</p> --}}
{{!--
                    </div>
                    <div class="tile is-parent">
                    <div class="tile is-child box player is-4">
                      <img src="./assets/img/health.png"><p id="health1"></p>
                      <img src="./assets/img/damage.png"><p id="damage1"></p>
                      <img src="./assets/img/defense.png"><p id="defense1"></p>
                  </div>
                </div>
                <progress class="progress is-danger" id="p2_health" value="1000" max="1000"></progress>
                <button class="button is-success ability-box1" id="ability0">Sabre Swing</button>
                <button class="button is-success ability-box2" id="ability1">Force Push</button>
                <button class="button is-success ability-box3" id="ability2">Force Grip</button>
                <button class="button is-success ability-box4" id="ability3">Block</button>
              </div>
            </div>
          </div>
        </div> --}}
