{{!-- this is the character select screen (also select music here) --}}
    <div class="container background">
      <div class="notification has-text-centered transparent">
        <h1>Statistics for {{user.name}}</h1>

        {{!-- <script id="t" type="text/x-handlebars-template"> --}}
          <a href="/"><button class="button is-dark">Pick again!</button></a>
          <button class="button is-dark new-battle-button">Go to battle!</button>

      </div>
      <div class="tile is-ancestor">
        <div class="tile is-vertical is-12">
          <div class="tile">
            <div class="tile is-parent is-vertical is-1">

            </div>
            <div class="tile is-parent is-vertical is-3">
              <p class="yellow_1">{{user.name}}</p>
                <figure class="image is-1by1 yellow_3">
                  <img src="{{userImage}}">
                </figure>
            </div>
            <div class="tile is-parent is-vertical is-4 statbox">
              <p class="stats">Class: {{user.charClass}}</p>
              <p class="stats_hp">Total HP: {{user.hp}}</p>
              <p class="stats_phy">Physical Strength: {{user.physical}}</p>
              <p class="stats_mag">Magic Ability: {{user.magic}}</p>
              <p class="stats_spd">Speed: {{user.speed}}</p>
              <p class="stats_def">Defense: {{user.defense}}</p>
            </div>

            <div class="tile is-parent is-vertical is-3 stat-div songbox">
                <p class="songz">Selected Song</p>
                <p class="current-song">{{user.songName}}</p>
            </div>
            <div class="tile is-parent is-vertical">

            </div>
    <script>
            $(document).on("click", ".new-battle-button", function(event) {
                event.preventDefault();
                var userId = {{user.id}} - 1;
                var enemyId = {{random}};

                $.ajax({
                  method: "PUT",
                  url: "/battle/" + userId + "&" + enemyId + "&revive"
                }).then(function(data) {
                  location.href = "/battle/" + userId + "&" + enemyId;
                  load();

                })

              });


      </script>
