{{!-- this is the character select screen (also select music here) --}}
    <div class="container">
      <div class="notification has-text-centered">
        <h1>{{user.name}}'s stats.</h1>

        {{!-- <script id="t" type="text/x-handlebars-template"> --}}
          <img src="{{userImage}}"></br>
          <a href="/"><button class="button is-dark">Pick again!</button></a>
          <button class="button is-dark new-battle-button">Go to battle!</button>



      </div>
      <div class="tile is-ancestor">
        <div class="tile is-vertical is-12">
          <div class="tile">
            <div class="tile is-parent is-vertical is-2" style="color: white">
              <p>Physical Strength: {{user.physical}}</p>
              <p>Magic Ability: {{user.magic}}</p>
            </div>
            <div class="tile is-parent is-vertical">

            </div>
            <div class="tile is-parent is-vertical middle stat-div" style="color: white">
                <p class="charclass">Class: {{user.charClass}}</p>
                <p class="hp">Total HP: {{user.hp}}</p>
                <p class="current-song">Your song: {{user.songUrl}}</p>

            </div>
            <div class="tile is-parent is-vertical">

            </div>
            <div class="tile is-parent is-vertical is-2" style="color: white">
              <p>Speed: {{user.speed}}</p>
              <p>Defense: {{user.defense}}</p>

            </div>

    <script>
            $(document).on("click", ".new-battle-button", function(event) {
                event.preventDefault();
                var userId = {{user.id}} - 1;
                var enemyId = {{random}};

                $.ajax({
                  method: "PUT",
                  url: "/battle/" + userId + "&" + enemyId + "&revive"
                }).then(function(data) {
                  location.href = "/battle/" + userId + "&" + enemyId;
                  load();

                })

              });


      </script>
